.header {
    font-family: Abel;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0em;
    text-transform: uppercase;
    line-height: 1.4em;
    width: 400px;
    height:50px;
    display:flex;
    align-items: center;
    justify-content: center;
}

.header-container {
    width: 50%;
    height:50px;
    display:flex;
    align-items: center;
    justify-content: center;
}

.nav-container {
    height:50px;
    width: 50%;
    display:flex;
    align-items: center;
    justify-content: center;
}

.link-styles {
    font-family: Sans-serif !important;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0em;
    line-height: 1.4em;
    text-decoration: none !important;
    color: black;
    padding: 2em;
}

.router-header-container {
    display: flex;
    background-color: #C4DCDC;
    flex-direction: row;
    width:100%;
}