
/* @font-face{
  font-family: 'Pixel';
  src: url('font/Pixel-LCD-7.woff') format('woff');
  
} */

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  /* background: url("/img/bg5.jpg") no-repeat center center fixed; */
  background-size: cover;
  background-color: #111;
}